<div class="container mainContainer">
    <div class="row">
        <h1 class="text-center title mb-5">Chat en tiempo real</h1>
        <form class="col-12 col-md-5" id="chatForm">
            <h2 class="title">Enviar nuevo Mensaje</h2>

            <div class="mb-3">
                <label for="user" class="form-label">Nombre de Usuario</label>
                <input type="text" class="form-control" id="user" name="user" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="mb-3">
                <label for="message" class="form-label">Mensaje</label>
                <input type="text" class="form-control" id="message" name="message" required>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

        <spam class="col-md-1"></spam>

        <div class="col-12 col-md-6 chatContainer" id="chatContainer"></div>
    </div>

</div>
</div>